.tarjeta.tarjeta__template--azul-claro
  background: rgb(226,222,252)
  background: linear-gradient(315deg, rgba(226,222,252,1) 16%, rgba(192,236,246,1) 100%)

table
  background-color: $white

.h1, .titulo-principal__numero span, .h2, .h3, .h4, .h5, .h6
  margin-top: 0.15em